.MPart {
	background-color: gray;
}

Shell {
    background-color: gray;
}

Composite {
    background-color: gray;
}

/*
Button[style~='SWT.PUSH'], Button[style~='SWT.TOGGLE'] {
	background-color: white;
	color: black;
}
*/

/*
Button {
	background-color: white;
	color: black;
}

Button:checked {
    background-color: green;
    color: white;
}

Button:disabled {
    background-color: #e5f0f8;
}

Button:hover {
    background-color: #80ffff;
    color:blue;
}
*/

.DefaultButton {
	background-color: #0071BC;
    color:white;
}

.DefaultButton:disabled {
	background-color: red;
    color:gray;
}

ToolItem {
	background-color: white;
	color: black;
}

ToolItem:checked {
    background-color: green;
    color: white;
}

ToolItem:disabled {
    background-color: #e5f0f8;
}

ToolItem:hover {
    background-color: #80ffff;
    color:blue;
}


ToolBar {
	background-color: white;
	color: black;
}

