.MPart {
	background-color: white;
}

Shell {
    background-color: #F7F7F7;
}

Button[style~='SWT.PUSH'], Button[style~='SWT.TOGGLE'] {
	background-color: white;
	color: #33393d; 
}

Button[style~='SWT.PUSH']:hover, Button[style~='SWT.TOGGLE']:hover {
    background-color: #b27cf7;
    color: #452a66;
}

Button[style~='SWT.PUSH']:checked, Button[style~='SWT.TOGGLE']:checked {
    background-color: #452a66;
    color: white;
}

Button[style~='SWT.PUSH']:disabled, Button[style~='SWT.TOGGLE']:disabled {
    background-color: #F5F5F5;
    color: #7b7f81;
}



.DefaultButton[style~='SWT.PUSH'], .DefaultButton[style~='SWT.TOGGLE'] {
	background-color: #f78f5f; 
    color:white;
}

.DefaultButton[style~='SWT.PUSH']:hover, .DefaultButton[style~='SWT.TOGGLE']:hover {
	background-color: #ff464b;
    color: black;
}

.DefaultButton[style~='SWT.PUSH']:checked, .DefaultButton[style~='SWT.TOGGLE']:checked {
	background-color: black;
    color: #f7602f;
}

.DefaultButton[style~='SWT.PUSH']:disabled, .DefaultButton[style~='SWT.TOGGLE']:disabled {
	background-color: #ffce4b;
    color: gray;
}



ToolItem {
	background-color: white;
	color: #33393d; /* #00080d on white with 0.8 transparency */
}

ToolItem:hover {
    background-color: #b27cf7;
    color: #452a66;
}

ToolItem:checked {
    background-color: #452a66;
    color: white;
}

ToolItem:disabled {
    background-color: #F5F5F5;
    color: #7b7f81;
}

ToolBar {
	background-color: white;
	color: black;
}


.MyTree {
	background-color: #F7F7F7;
}


.MPartStack {
	background-color: white;
	swt-corner-radius: 8;
	swt-selected-tabs-background: white;
	swt-outer-keyline-color: #FF9300;
}


